<!-- The Admin's dashboard -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        {{current_user.name}}
    </p>
    <p>
        Below are the list of our current church services available:
        {% if services.length == 0 %}
            <p>
                No services available currently
            </p>
        {% else %}
        {{services}}
                {% for service in services %}
                        {{ service }}
                        <br/>
                {% endfor %}
        {% endif %}
    </p>
</body>
</html>