{% extends 'default.html' %}

{% block body %}
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <h4 class="navbar-brand col-md-3 col-lg-2 mr-0 px-3">
        {{current_user.name}}
    </h4>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
        <a class="nav-link" href="{{ url_for('logout') }}">Log out</a>
        </li>
    </ul>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('admin') }}">
                          <span data-feather="home"></span>
                          Dashboard <span class="sr-only">(current)</span>
                        </a>
                      </li>

                </ul>

            </div>

        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1>Dashboard</h1>
            </div>
            <p>
                Below are the list of our current church services available:
                {% if services == 0 %}
                    <p>
                        No services available currently
                    </p>
                {% else %}
                {{services}}
                        {% for service in services %}
                                {{ service }}
                                <br/>
                        {% endfor %}
                {% endif %}
            </p>
        </main>
        
    </div>
</div>
    
   
{% endblock %}