{% extends 'default.html' %}

{% block body %}
<section class="jumbotron text-center">
    <div class="container">
      <h1>Church Attendance System</h1>
      <p class="lead text-muted">This website allows you to monitor, schedule and track attendance in relation to COVID-19 protocols</p>
      <p>
        <a href="{{ url_for('userform') }}" class="btn btn-primary my-2">Join Church</a>
        <a href="{{ url_for('admin') }}" class="btn btn-secondary my-2">Church Admin</a>
      </p>
    </div>
</section>

{% endblock %}